- time_log = @user.time_log_for(date)

%tr{ id: row_id(date, @user), data: { date: date.strftime("%Y/%m/%d") } }

  %td.date= date.strftime("%a %d")

  %td.in

    - if @user == current_user
      - if @user.timed_in?(date)
        %a.time{href: "#"}
          = short_time time_log.in
      
      - else
        %a.time{href: "#"}
          = "No time in"

    - else
      - if @user.timed_in?(date)
        = short_time time_log.in

      - else
        = "No time in"

  %td.out

    - if @user == current_user
      - if @user.timed_out?(date)
        %a.time{href: "#"}
          = short_time time_log.out
      
      - else
        %a.time{href: "#"}
          = "No time out"

    - else
      - if @user.timed_out?(date)
        = short_time time_log.out
      
      - else
        = "No time out"

  %td.comment
    - if @user.any_comments?(date)
      = time_log.comment.comments
    - else
      = "-"

  %td.hours
    - if time_log && time_log.hours
      = time_log.hours.round(2)
    - else
      = "-"

  %td.leave
    - if @user == current_user
      = render partial: 'leaves/leave', |
        locals: { time_log: time_log, user: @user, date: date } |
