%tr{ id: row_id(date, user) }

  %td.user= link_to user.name, user

  %td.in

    - if user == current_user
      - if user.timed_in_today?
        %a.time{href: "#"}
          = short_time user.current_time_log.in

      - else
        = button_to "Time In", |
          { action: 'time_in', controller: 'time_logs' }, |
          method: :post, remote: true |

    - else
      - if user.timed_in_today?
        = short_time user.current_time_log.in

      - else
        = "Not in yet"

  %td.out

    - if user == current_user
      - if user.timed_out_today?
        %a.time{href: "#"}
          = short_time user.current_time_log.out

      - elsif user.must_time_out_today? && user.timed_in_today?
        = button_to "Time Out", |
          { action: 'time_out', controller: 'time_logs' }, |
          method: :put, remote: true |

    - else
      - if user.timed_out_today?
        = short_time user.current_time_log.out

  %td.comment

    %span
      - if user.any_comments?
        = user.current_time_log.comment.comments

      - if user == current_user
        = image_tag("comment.png", border: 0, class: 'comment')
