#archive

  %h1 Archive
  %br
  %br

  %table

    - @dates.each do |date|

      %tr
        %td= month_year date

        - @users.each do |user|
          %td
            = user.name
            = form_tag(user, method: :get) do
              = hidden_field_tag "date", date
              = button_tag ">"

        %td All
