#log
  %h1= Date.today.to_s(:long)
  %p#day= Date.today.strftime("%A")
  %table{data: { date: Date.today.strftime("%Y/%m/%d") } }
    %tr
      %th
      %th Time In
      %th Time Out
      %th Comments

    - @users.each do |user|
      %tr{data: { employee: user.name } }
        %td= link_to user.name, user, class: "user"
        %td.in

          - if user == current_user
            - if user.timed_in_today?
              %a.time{href: "#"}
                = short_time user.current_time_log.in

            - else
              = form_tag(time_in_path, method: :post) do
                = button_tag "Time In"

          - else
            - if user.timed_in_today?
              = short_time user.current_time_log.in

            - else
              not in yet

        %td.out

          - if user == current_user
            - if user.timed_out_today?
              %a.time{href: "#"}
                = short_time user.current_time_log.out

            - elsif user.must_time_out_today?
              = form_tag(time_out_path, method: :put) do
                = button_tag "Time Out"

          - else
            - if user.timed_out_today?
              = short_time user.current_time_log.out

        %td.comment

          - if user.any_comments?
            = user.current_time_log.comment.comments

