!!! 5
%html
  %head
    %title BundyClock
    = stylesheet_link_tag "bundy"
    = javascript_include_tag "jquery", "update"
    = csrf_meta_tags

  %body

    #top
      %a.home{href: '/'}
        Bundy clock
      #aux
        - if logged_in?
          = "Hello, #{current_user.email}"
          %a{href: logout_path} Logout

        - else
          %a{href: login_path} Login

    = yield
