!!! 5
%html
  %head
    %title BundyClock
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

    :javascript
      WebFontConfig = {
        google: {
          families: [
            'Montserrat'
          ]
        }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();


  %body

    #top
      %nav.reports
        %ul
          - if logged_in?
            %li
              = link_to "Today", root_url, class: "home #{'active' if @section == :today}"
            %li
              = link_to today.to_s(:month_year), "/month", class: "month #{'active' if @section == :month}"
            %li
              = link_to "Archive", archive_path, class: "archive #{'active' if @section == :archive}"

      %nav.aux
        %ul

          - if logged_in?
            %li.message
              = "Hello!"

            %li.dropdown
              %a{href: settings_path}
                %span.icon!= "&#009881;"
                %strong= current_user.email
              %ul
                %li
                  %a{href: settings_path} API settings
                %li
                  %a{href: '#'} File leave

                
            %li
              %a{href: logout_path}
                %span.icon!= "&#008961;"
                %strong Logout

          - else
            %li
              %a{href: login_path}
                %span.icon!= "&#008961;"
                %strong Login

    = yield
